<div class="row">
  <div class="col-md-2">
   </div>
  <div  class="col-md-8 custom">
      <div class="card customecard">
          <div class="card-body">
           <h4 class="card-title">Congratulation !!</h4>
           <p class="card-text">Your order has been placed !:-)</p>
          <ul class="list-group list-group-flush">
            <!-- <li *ngFor="let item of cartid.items" class="list-group-item">
              {{item.quantity}}*{{item.title}}
              <div class="float-right">
                {{item.totalprice |currency :'USD':true}}
              </div>
            </li> -->
            <li class="list-group-item font-weight-bold customtext">
              
              your Order number is : {{id}}
              
            </li>
            <!-- <li class="list-group-item font-weight-bold">
                <div class="float-center">
                    hello
                   </div>
            </li> -->
          </ul>
          <div class="customdiv">
          <a routerLink="/My/Order" class="btn btn-primary btn-sm"> Check Your Orders  </a>
          </div>
         </div>
       </div>
    </div>

    <div class="col-md-2">
    </div>
     </div>
  